{% extends "layout.html.twig" %}

{% block titre %}Utilisateur{% endblock %}

{% block contenu %}

<div class="row mt-5">
    <div class="col-10 offset-1">
        <h2>Utilisateur</h2>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nulla unde delectus. Et placeat perferendis, ad omnis maiores harum quaerat ullam voluptatum laborum est odio enim, cupiditate ea quas! Necessitatibus.</span><span>Deleniti dolore, facere tempora sint praesentium id culpa eius consequatur cumque neque blanditiis saepe placeat esse repellat. Ipsum quis quos temporibus fugit esse explicabo, sint quasi maiores quidem ratione aspernatur?</span><span>Voluptatem cumque, illum assumenda corrupti iste nostrum similique earum architecto reiciendis quas molestias, dignissimos consectetur voluptatum voluptates dolor numquam molestiae. Aliquid veniam ex asperiores quos cumque unde totam eius quaerat!</span><span>Voluptates autem nam, quibusdam sed vero, exercitationem odit, optio sapiente aut ipsum odio tempore esse quaerat perferendis numquam. Dolor possimus sapiente eligendi sint veritatis laudantium! Optio corporis recusandae voluptatibus commodi.</span><span>Voluptatem sit, eos amet vitae error debitis veritatis vero quidem, rerum eaque iste. Quia similique nisi quisquam voluptas neque necessitatibus dolore earum reprehenderit mollitia, iste accusamus dicta incidunt possimus. Earum!</span></p>                
    </div>
</div>

{% endblock %}